* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono';
}

html, body {
	width: 100%;
	height: 100%;
	background-color: #212121;
}

.container {
	width: 100%;
	height: 100%;
}

.CodeMirror { height: 100%; }
.CodeMirror-simplescroll-horizontal div,
.CodeMirror-simplescroll-vertical div { position: absolute; background: #ccc; }
.CodeMirror-simplescroll-horizontal,
.CodeMirror-simplescroll-vertical { position: absolute; z-index: 6; background: rgba(255, 255, 255, 0.1); }
.CodeMirror-simplescroll-horizontal { bottom: 0; left: 0; height: 4px; }
.CodeMirror-simplescroll-horizontal div { bottom: 0; height: 100%; } 
.CodeMirror-simplescroll-vertical { right: 0; top: 0; width: 4px; }
.CodeMirror-simplescroll-vertical div { right: 0; width: 100%; }

